%h2 Sign up
= form_for User.new, url: create_user_session_path do |f|
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  %p
    %select{ name: 'Role' }
      %option{ value: :admin }= 'Admin'
      %option{ value: :judge }= 'Judge'

  .actions
    = f.submit "Sign up"
= render "devise/shared/links"